@font-face {
    font-family: steelfib;
    src: url('../fonts/steelfib.ttf');
}
@font-face {
    font-family: steelfis;
    src: url('../fonts/steelfis.ttf');
}
@font-face {
    font-family: steelout;
    src: url('../fonts/steelout.ttf');
}